body{
    margin: 0;
    padding: 0;
    /* background: url(bg2.jpg);
     */
    background-image: url("https://th.bing.com/th/id/R.d8a74855316f0c0a285e25b89e36b24c?rik=u00GcHPf5MyNtQ&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f8%2ff%2fd%2f574370.jpg&ehk=i4u1rxNUm4jtqF9TF8N52qRdFAx1FOSfxX14PvrIvJw%3d&risl=&pid=ImgRaw&r=0");

    background-size:cover;
    background-position:center center;
    font-family:sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
   
  .container{
  width :320px;
  background:#ffffff;
  color:#000000;
  top:50%;
  left:50%;
  position:absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 30px 30px;
  border-radius: 10px;
  }
   
  h2{
    margin: 0;
    padding: 0 0 20px;
    text-align:left;
    font-size:22px;
  }
   
  h3{
  color:#fff;
  }
  .container label{
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
   
  .container input{
    width:100%;
    margin-bottom: 10px;
  }
   
  .container input[type="text"], input[type="email"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline:none;
    height:15px;
    color:#000000;
    font-size:12px;
  }
  .organization{
    display:block
  }
  .container select{
    display:block;
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: none;
    margin-bottom: 20px;
    width:100%;
  }
   
   
  .container input[type="submit"]{
    border: none;
    outline:none;
    height: 30px;
    background:#079def;
    color:#fff;
    font-size:16px;
    border-radius:20px;
  }
   
  .container input[type="submit"]:hover 
  {
    cursor: pointer;
    background:#ffc107;
    color:#000;
  } 
   
  .container a{
    text-decoration: none;
    line-height:20px;
    color:#079def;
  }
   
  .container a:hover{
    color:#ffc107;
  }
   
   
  .Welcome{
  color:#ffffff;
  font-family: Arial, Helvetica, sans-serif;
  }
   
  .header{
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
    font-size: 10px;
    font-weight: 400;
    background-color:#079def;
   color: #ffffff;
  }
  .footer {
    position:fixed;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 15px;
    font-weight: 400;
    height: 40px;
    background-color: #079def;
    color: #ffffff;
  }
   
   
  
   
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #079def;
  }
   
  .nav li {
    float: left;
   
  }
   
  .nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
   
  .nav li a:hover {
    background-color: #0362a5;
  }
   
  .title{
    font-weight: 600;
    color:#fff;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
   
  .nav ul {
    position: sticky;
    overflow: auto;
    top: 0;
    width: 100%;
  }
   
  .logout{
    float: right;
  }
  .uname{
    float: right;
  }
   
   
  .sidebar{
    height: 100%;
    width: 150px;
    position: absolute;
    left: 0;
    top: 10;;
  }
   
  .sidebar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    height:100vh;
    background-color: #f1f1f1;
   
  }
   
   
  .sidebar li a{
    position:relative;
    display: table;
    color:  #0362a5;
    padding: 8px 16px;
    width:100%;
    text-decoration: none;
    font-size: 16px;
   
  }
   
  .sidebar li a:hover{
    background-color: #d7d9da;
    color: #0362a5;
    width:100%;
  }
   
  .app ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
   
   
   .err {
    font-size:smaller;
    color: red;
    
   }
   
  .login{
    width :320px;
    background:#ffffff;
    color:#000000;
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 10px;
    }
    nav {
      /* padding: 16px 32px; */
      position: fixed;
      left: 0;
      top: 0;
      height: 50px;
      width: 100%;
      font-size: 20px;
      font-weight: 400;
      background-color:#079def;
     color: #ffffff;
     
    }
    .wide{
      width: 100px;
    }
    
    nav a {
      margin-right: 16px;
      text-decoration: none;
    }
    
    nav a.active {
      text-decoration:none;
      font-weight: bold;
    }
   
    .login label{
      margin: 0;
      padding: 0;
      font-weight: normal;
    }
   
    .login input{
      width:100%;
      margin-bottom: 10px;
    }
   
    .login input[type="text"], input[type="password"] {
      border: none;
      border-bottom: 1px solid #000000;
      background: transparent;
      outline:none;
      height:15px;
      color:#000000;
      font-size:12px;
    }
   
    .login input[type="submit"]{
      border: none;
      outline:none;
      height: 30px;
      background:#079def;
      color:#fff;
      font-size:16px;
      border-radius:20px;
    }
   
    .login input[type="submit"]:hover 
    {
      cursor: pointer;
      background:#ffc107;
      color:#000;
    } 
   
    .login a{
      text-decoration: none;
      line-height:20px;
      color:#079def;
    }
   
    .login a:hover{
      color:#ffc107;
    }

    .sidebar {
      display: flex;
      flex-direction: row;
    }