body{
    margin: 0;
    padding: 0;
    /* background: url(bg2.jpg);
     */
    background-image: url("https://th.bing.com/th/id/R.d8a74855316f0c0a285e25b89e36b24c?rik=u00GcHPf5MyNtQ&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f8%2ff%2fd%2f574370.jpg&ehk=i4u1rxNUm4jtqF9TF8N52qRdFAx1FOSfxX14PvrIvJw%3d&risl=&pid=ImgRaw&r=0"); 

    background-size:cover;
    background-position:center center;
    font-family:sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .linker {
    text-decoration: none;
  }
  /* .adduser{
    height: 50px !important;
    
   

  } */
  .fonter{
    /* height: 10%; */
    font-size: small !important;
  }
  .field {
    padding-bottom: 10px;
  }
  .leng{
    display: flex;
    width: 300px;
  }
   .sear{
    display: block;
    color: white;
    text-align:right;
    margin-left: 375px;
    /* padding: 6px 220px; */
    text-decoration: none;
    } 
    .sear2{
      display: block;
      color: white;
      text-align:right;
      margin-left: 200px;
      /* padding: 6px 220px; */
      text-decoration: none;
      } 
   
  .container{
  width :370px;
  height:fit-content;
  background:#ffffff;
  color:#000000;
  top:50%;
  left:50%;
  position:absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 20px 20px;
  border-radius: 0.5em;
  }
   
  h2{
    margin: 0;
    padding: 0 0 20px;
    text-align:left;
    font-size:22px;
  }
   
  h3{
  color:#fff;
  }
  .junior {
    text-align: center;
  }
  .container label{
    margin-bottom: 9px;
    padding: 0;
    font-weight: normal;
  }

  .hedi{
    width: 100%;
    /* background-color: #ccc; */
    display: flex;
    font-size: large;
    font-weight: bold;
    justify-content: center;
    align-items: center;
  }
  .inp {
    width:100%;
    margin-bottom: 5px;
    border-radius:0.25em;
    height: 1.5em;
    outline:none;
    

    border: 1px solid rgb(120, 120, 120);
  }
  .buton2{
    background-color:#0065A3 !important;
    height: 30px !important;
    }
  /* .inp1 {
    width:100%;
    margin-bottom: 0px;
    border-radius:0.25em;
    height: 1.5em;
    outline:none;

    border: 1px solid rgb(120, 120, 120);
  } */
  p {display:inline;}
   .redstar{
    color:red;
   }
  .container input{
    width:100%;
    margin-bottom: 0px;
    border-radius:0.25em;
    height: 1.5em;
    outline:none;

    border: 1px solid rgb(120, 120, 120);
  }
   
  .container input[type="text"]{
    /* border:none; */
    border-radius:0.25em;
    border: 1px solid rgb(158, 154, 154);
    
    outline:none;
    height:30px;
    color:#000000;
    font-size:16px;
  }
  
  .container input[type="password"] {
    /* border:none; */
    border-radius:0.25em;
    border: 1px solid rgb(158, 154, 154);
    
    outline:none;
    height:30px;
    color:#000000;
    font-size:16px;
  }
  .organization{
    display:block
  }
  .container select{
    display:block;
    padding: 4px 6px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: none;
    margin-bottom: 20px;
    width:100%;
  }
   
   
  .container input[type="submit"]{
    border: none;
    outline:none;
    height: 30px;
    background:#079def;
    border-radius:0.25em;
    border: 1px solid black;

    color:#fff;
    font-size:16px;
    border-radius:20px;
  }
   
  .container input[type="submit"]:hover 
  {
    cursor: pointer;
    background:#ffc107;
    color:#000;
  } 
   
  .container a{
    text-decoration: none;
    line-height:20px;
    color:#079def;
  }
   
  .container a:hover{
    color:#ffc107;
  }
   
   
  .Welcome{
  color:#ffffff;
  font-family: Arial, Helvetica, sans-serif;
  }
  

  .linkgaps{
    display:flex;
    /* padding: 20px; */
    /* margin-right: 20px; */
    
    column-gap: 20px;
    justify-content:flex-start;
    width: 100%;
  }
   
  .header{
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
     width: 100%; 
    padding: 10px 10px; 
    font-size: 20px !important;
    font-weight: bold; 
    background-color:#007CC3;
   color: #ffffff;
   /* background /content/home/learning_journey/lj_assets/images/cerner_small_logo_white.png
    color #007CC3 */
  }
  .footer {
    position:fixed;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 15px;
    /* font-weight: ; */
    /* padding: 0px 10px ;  */
    padding-bottom: 20px;


    height: 50px;
    background-color: #007CC3;
    color: #ffffff;
  }
   
   
  
   
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #007CC3;
  }
   
  .nav li {
    float: left;
   
  }
   
  .nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
   
  .nav li a:hover {
    background-color: #0362a5;
  }
   
  .title{
    font-weight: 600;
    color:#fff;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
   
  .nav ul {
    position: sticky;
    overflow: auto;
    top: 0;
    width: 100%;
  }
   
  .logout{
    float: right;
  }
  .uname{
    float: right;
  }
   
   
  .sidebar{
    height: 100%;
    width: 150px;
    position: absolute;
    left: 0;
    top: 10;;
  }
   
  .sidebar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    height:100vh;
    background-color:white;
   
  }
   
   
  .sidebar li a{
    /* position:relative; */
    display: table;
    color:  #0362a5;
    padding: 8px 16px;
    width:150px;
    text-decoration: none;
    font-size: 16px;
   
  }
   
  .sidebar li a:hover{
    /* background-color: #bdc9cf; */
    background-image: linear-gradient(to right, #0362a5 10px, #dddddd 10px);
    color: #0362a5;
    margin-left: 0px;
    width:150px;
  }
   
  .app ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
   
   
   .err {
    font-size:smaller;
    color: red;
    
   }
   .select-control{
    width: 100%;
   }
   .select-control2{
    width: 100%;
    border-radius: 0.25em;
    height: 1.5em;
   }
   .gapbelow{
    margin-bottom: 12px;;
   }
  .login{
    width :320px;
    background:#ffffff;
    color:#000000;
    top:50%;
    left:50%;
    font-size: 16px;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 20px 20px;
    border-radius: 10px;
    }
    nav {
      /* padding: 16px 32px; */
      position: fixed;
      overflow:hidden;
      left: 0;
      top: 0;
      height: 50px;
      width: 100%;
      font-size: 20px;
      font-weight: 400;
      background-color:#007CC3;
     color: #ffffff;
     
    }
    .wide{
      /* width: 100px; */
      padding: 16px 32px;
    }

    .naver {
      padding-top: 0px;
      padding-left: 50px;
      /* justify-content: center; */
      display: flex;
      /* align-items:center; */
      margin-right: 20px;
        
    }
    .topright {
      padding-top: 0px;
      padding-left: 90px;
      /* justify-content: center; */
      display: absolute;
      /* align-items:center; */
      margin-right: 20px;
    }

    
    nav a {
      margin-right: 16px;
      text-decoration: none;
      font-size: smaller;
      /* position: relative; */
      color: white;
    } 
    
    nav a.active {
      text-decoration:none;
      font-weight: bold;
      background-color: #0065A3;
    }
    .navbox{
      display: block;
      color: white;
      text-align: center;
      padding: 12px 16px;
      text-decoration: none;
    }

    .navbox2{
      display: block;
      color: white;
      text-align:right;
      padding: 12px 550px;
      text-decoration: none;
    }
  
    .login label{
      margin: 0;
      padding: 0;
      font-weight: normal;
    }
   
    .login input{
      width:100%;
      margin-bottom: 10px;
    }
   
    .login input[type="text"], input[type="password"] {
      border: none;
      border-bottom: 1px solid #000000;
      background: transparent;
      outline:none;
      height:15px;
      color:#000000;
      font-size:12px;
    }
   
    .login input[type="submit"]{
      border: none;
      outline:none;
      height: 30px;
      background:#079def;
      color:#fff;
      font-size:16px;
      /* border-radius:20px; */
    }
   .buton {
    background-color:#007CC3;
    color:white;
    width: 100%;
    margin-bottom: 9px;
    border: none;
   }
    .login input[type="submit"]:hover 
    {
      cursor: pointer;
      background:#ffc107;
      /* color:#000; */
    } 
   
    .login a{
      text-decoration: none;
      line-height:20px;
      color:#079def;
    }
   
    .login a:hover{
      color:#ffc107;
    }

    .sidebar {
      display: flex;
      flex-direction: row;
      
    }

    /* .row {  
      display: flex;
      flex-wrap: wrap;

    } */
    .side {
      flex: 35%;
      background-color: #ffffff;
      position: fixed;
      /* width:200px; */
      left: 0;
      top: 50px;
  
    }
    /* table, th, td {
      border: px solid;
    } */
    
    /* Main column */
    .right {
      flex: 65%;
      background-color: white;
      width:86%;
      height: 85%;
      /* position: fixed; */
      position :absolute;
      left: 160px;
      top: 50px;    
    }

    .data {
      border: 1px solid black;
      margin: 10px 0;
      margin-top: 50px;
      /* position: absolute; */
      padding: 20px;
      width: 100%;
    }


.topleft {
  float: left;
}

.middlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.norecords{
  text-align: center;
}